<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="yanoll.mapper.registrationMapper">

	<insert id="insert" parameterType="Users">
		insert into users (
			userno, id, password, name, tel, email, gender, birth
		) values (
			users_seq.nextval, #{id}, #{password}, #{name}, #{tel}, #{email}, #{gender}, #{birth}
		)
	</insert>


</mapper>